body { 
background-color: #f2e8de;
text-align: center;
color: #93203b;
}

h2 {
    font-size: medium;
}

#grid {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 270px;
    background-color: none;
    margin: auto;
}

.tile {
    width: 50px;
    height: 50px; 
    display: flex;
    justify-self: center;
    border: 1px solid #9a7736; 
    margin: 2px; 
    background-color: #edb855;
    text-transform: uppercase;
    text-align: center;
    color: #221639;
}

#submitBtn {
    background-color:#93203baf;
    color: white;
}

.green {
    background-color: #007a78;
    border: #003b49;
}

.gray {
    background-color: #8f8f8f;
    border: #1b365d;
}

.yellow {
    background-color: #ffc845;
    border: #815e1e;;
}